{% extends 'base.html' %}

{% block title %}
  <title>article detail</title>
{% endblock title %}
  
{% block content %}

<div class="container">
  <h1>{{ article.title }}</h1>
  <p>{{ article.content }}</p>

  {% if request.user.is_authenticated %}
    
    <p><a class="btn btn-outline-primary" href="{% url 'articles:article-update' article.id %}">Edit</a></p>
    <p><a class="btn btn-outline-danger" href="{% url 'articles:article-delete' article.id %}">Delete</a></p>
    
  {% endif %}

</div>

{% endblock %}