{% extends 'base.html' %}
{% load bootstrap_pagination %}

{% block title %}
<title>pagination list</title>
{% endblock title %}

{% block content %}

  {% if request.user.is_authenticated %}
    <p>
      <a 
        class="btn btn-outline-primary"
        href="{% url 'articles:article-create' %}"
      >
        Create
      </a>
    </p>
  {% endif %}

  {% for article in page_obj %}
  <div class="card">
    <div class="card-body">
      <a href="{{ article.get_absolute_url }}">
        {{ article.id }} - {{ article.title }}
      </a>
    </div>
  </div>
  {% endfor %}

  <div class="d-flex justify-content-center">

    {% bootstrap_paginate page_obj range=10 %}

  </div>

{% endblock %}