{% load bootstrap5 %}

{# Load CSS and JavaScript #}
{% bootstrap_css %}
{% bootstrap_javascript %}

<!-- {# Display django.contrib.messages as Bootstrap alerts #}
{% bootstrap_messages %} -->

<nav class="navbar navbar-expand-sm navbar-dark bg-dark">
  <div class="container-fluid">
    <a class="navbar-brand" href="{% url 'pages:home' %}">Django</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#mynavbar">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="mynavbar">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link" href="{% url 'articles:article-list' %}">Blog</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'articles:pagination-list' %}">Pagination</a>
        </li>
         <li class="nav-item">
          <a class="nav-link" href="{% url 'articles:filter-list' %}">Filter</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'articles:demo-list' %}">Demo</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'products:product-list' %}">Products</a>
        </li>

      </ul>
      <form action="{% url 'articles:search-results' %}" class="d-flex">
        <input name="q" class="form-control me-2" type="text" placeholder="Search">
        <button class="btn btn-primary" type="button">Search</button>
      </form>

      {% if request.user.is_authenticated %}
        <a class="nav-item nav-link">{{request.user.username}}</a>
        <a class="nav-item nav-link" href="{% url 'accounts:logout' %}">Logout</a>
        {% else %}
        <a class="nav-item nav-link" href="{% url 'accounts:login' %}">Login</a>
        <a class="nav-item nav-link" href="{% url 'accounts:register' %}">register</a>
      {% endif %}

    </div>
  </div>
</nav>